@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    /* Purana dark color hata kar ye likho */
    @apply bg-bgLight text-slate-800 antialiased min-h-screen font-sans;
  }
}